---
layout: default
title: Open Source Hardware Association
description:
seo_image_path: #'/images/media/filename.jpg'
page_template: exemplar
---

<main role="main" id={{page.page_template}}>

  <section class="page-section page-section--profile page-section--profile--exemplar">
    <div class="row align-left">
      <div class="column large-12">
        <h1>{{ page.project_owner }} {{ page.project_name }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="column small-12 large-4">
        <h3>OSHWA UID</h3>
        <span class="id">{{ page.project_uid }}</span>
        <a class="button" href="{{ page.project_uid | slugify | append: '.html' | relative_url }}">Project Profile</a>
      </div>
      <div class="column small-12 large-8">
        {% for type in page.project_types %}
          <div class="project__type--exemplar">
            {{ type }}
          </div>
        {% endfor %}

        {{ page.project_description | markdownify }}
      </div>
    </div>

    <hr>

    <div class="row align-left">
      <div class="column large-12">
        <h5>Licenses</h5>
      </div>
    </div>

    <div class="row large-row">
      <div class="column large-4 small-12">
        <h6>Hardware</h6>
        <span class="licenses">{{ page.hardware_license.license_name }}</span>
      </div>
      <div class="column large-8">
        {{ page.hardware_license_explanation | markdownify }}
      </div>
    </div>

    <div class="row large-row">
      <div class="column large-4 small-12">
        <h6>Software</h6>
        <span class="licenses">{{ page.software_license.license_name }}</span>
      </div>
      <div class="column large-8">
        {{ page.software_license_explanation | markdownify }}
      </div>
    </div>

    <div class="row large-row">
      <div class="column large-4 small-12">
        <h6>Documentation</h6>
        <span class="licenses">{{ page.documentation_license.license_name }}</span>
        {% if page.documentation_url %}
          <a href="{{ page.documentation_url }}" class="documentation-link" target="_blank">View Documentation</a>
        {% endif %}
      </div>
      <div class="column large-8">
        {{ page.documentation_license_explanation | markdownify }}
      </div>
    </div>

    <div class="row branding">
      <div class="column large-4 small-12">
        <h6>Branding <br>Information</h6>
      </div>
      <div class="column large-8">
        {{ page.branding_information | markdownify }}
      </div>
    </div>

    <div class="row">
      <div class="column large-12">
        <h4 class="exemplar-spectrum-title">Protectability Spectrum of Project Components</h4>
        <div class="spectrum-container">
          <div class="row expanded">
            <div class="column">
              <p class="label label--exemplar">Less<br>Protectable</p>
            </div>
            <div class="column" style="text-align: right">
              <p class="label label--exemplar">More<br>Protectable</p>
            </div>
          </div>
          <div id="spectrum-line">
            <div class="line">
              {% for schematic in page.spectrum_items %}
                <div class="circle" id="circle{{ schematic.position }}" circle-attr="{{ schematic.position }}"></div>
              {% endfor %}
            </div>
          </div>
        </div>

        {% for schematic in page.spectrum_items %}
          <div class="schematic-description" position-attr="{{ schematic.position }}">
            <h4>{{schematic.title}}</h4>
            {{schematic.description | markdownify }}
            <div class="spectrum-image" style="text-align:center">
              <img src="{{schematic.image.url}}" alt="{{schematic.image.title}}"/>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>



</main>
