---
layout: default
title: Open Source Hardware Association
description:
seo_image_path: #'/images/media/filename.jpg'
page_template: profile
---

<main role="main" id={{page.page_template}}>

  <section class="page-section page-section--profile">
    <div class="row align-left">
      <div class="column large-12">
        <h1>{{ page.project_name | decode_html }}</h1>
        <h2>{{ page.responsible_party }} {% if page.public_contact %}<a href="mailto:{{ page.public_contact }}"><i class="material-icons">mail</i></a>{% endif %}</h2>
      </div>
    </div>
    <div class="row">
      <div class="column small-12 large-4">
        <h3>OSHWA UID</h3>
        <span class="id">{{ page.oshwa_uid }}</span>
        <a href="{{ page.project_website }}" class="button" target="_blank">Project Website</a>
        <h3 class="info-title">Certification Date</h3>
        <p class="info-data">
          {% if page.certification_date %}
            {{page.certification_date | date: "%B %d, %Y"}}
          {% else %}
            {{ page.sys.created_at | date: "%B %d, %Y" }}
          {% endif %}
        </p>
        <h3 class="info-title">Country</h3>
        <p class="info-data">{{ page.country }}</p>
      </div>


      <div class="column small-12 large-6">
       {{ page.project_description | decode_html }}

      </div>
      <div class="column small-12 large-2">
        <h3>Version</h3>
        <span class="version">{{ page.project_version }}</span>

        {% if page.previous_versions %}
          <h3 class="previous-title">Previous Versions</h3>
          {% for version in page.previous_versions %}
            <div class="previous-versions"><a href="{{ version.oshwa_uid | slugify | append: '.html' |  relative_url }}">{{ version.oshwa_uid }}</a></div>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <hr>

    <div class="row align-left">
      <div class="column large-12">
        <h5>Licenses</h5>
      </div>
    </div>

    <div class="row">
      <div class="column large-4 small-12">
        <h6>Hardware</h6>
        <div class="licenses">{{ page.hardware_license }}</div>
      </div>
      <div class="column large-4 small-12">
        <h6>Software</h6>
        <div class="licenses">{{ page.software_license }}</div>
      </div>
      <div class="column large-4 small-12">
        <h6>Documentation</h6>
        <div class="licenses licenses--documentation">{{ page.documentation_license }}</div>
        <a href="{{ page.documentation_url }}" class="documentation-link" target="_blank">View Documentation</a>
      </div>
    </div>

    <hr>

    <div class="row certification-mark">
      <div class="column">
        <h5>Certification mark</h5>
        <div id="certification-mark-generator" data-project-id="{{ page.oshwa_uid }}" class="row">
          <div class="column medium-4 small-12">
            <div data-variant="stacked">
              <div class="button-container">
                <a class="button--naked" data-format="svg" href="#">SVG</a>
                <a class="button--naked" data-format="png" href="#">PNG</a>
              </div>
            </div>
            <div data-variant="wide">
              <div class="button-container">
                <a class="button--naked" data-format="svg" href="#">SVG</a>
                <a class="button--naked" data-format="png" href="#">PNG</a>
              </div>
            </div>
          </div>
          <div class="column medium-8 small-12">
            <p>
              The <em>OSHW Certification Mark</em> shows the project's unique certification ID and makes it easy for users to quickly find this page along with the project's details. This mark can be used throughout the project's design, documentation, and promotional material.
            </p>
            <p>
              For more details, take a look at the <a href="{{ '/mark-usage.html' | relative_url }}">Certification Mark Usage Guide</a>.
            </p>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="column large-12">
        <h5>Project Type</h5>
        <div class="project">
          <div type-tag="{{ page.primary_type | slugify }}" class="project__type">{{ page.primary_type }}</div>
          {% if page.additional_type %}
            {% for type in page.additional_type %}
              {% if type != page.primary_type %}
                <div type-tag="{{ type | slugify }}" class="project__type">{{ type }}</div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

    {% if page.project_keywords %}
      <div class="row keywords">
        <div class="column large-12">
          <h5>Keywords</h5>
            <span class="keywords__keyword">{{ page.project_keywords | join: ", " | decode_html }}</span>
        </div>
      </div>
    {% endif %}

    {% if page.citations %}
      <hr>

      <div class="row">
        <div class="column large-12">
          <h5>Citations</h5>
          <div class="citations">
            {% for citation in page.citations %}
              <a href="{{ citation.url }}">{{ citation.title }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

  </section>

</main>
