body {
  font-family: 'Montserrat', sans-serif;
}

.footer {
}

.main-menu {
  box-shadow: none;
  overflow-y: hidden;
  .process {
    &--header-link {
      border-bottom: none;
      // padding-bottom: .5rem;
    }
    &--link {
      border-bottom: none;
      font-size: .95rem;
      padding-top: .5rem;
      padding-bottom: .5rem;
      &--last {
        padding-bottom: 1.2rem;
        border-bottom: 1px solid rgba(255,255,255,0.1);
      }
    }
  }
}

#overlay {
  z-index: 2;
}

.js-body-modal-active {
  overflow: visible;
}
