body {
  font-family: 'Montserrat', sans-serif;
  min-height: 0;
}

.footer {
  @include breakpoint($large) {
    padding-top: 3.5rem;
  }
  @include breakpoint($medium-only) {
    padding-top: 1rem;
  }
  &__nav {
    font-size: 0.85rem;
    font-weight: 600;
    @include breakpoint($large) {
      padding-left: 3rem;
    }
    @include breakpoint($medium-only) {
      padding: 2rem;
      text-align: center;
    }
    @include breakpoint($small-only) {
      padding-top: 3rem;
      text-align: center;
    }
    a {
      display: block;
      padding-bottom: 0.2rem;
      &:hover {
        color: white;
      }
    }
  }
  &__logo {
    img {
      margin: 0 auto;
      max-width: 20rem;
    }
    text-align: center;
    p {
      font-size: 0.95rem;
      margin: 0;
      @include breakpoint($medium-only) {
        font-size: 0.9rem;
        margin-bottom: 2rem;
      }
      @include breakpoint($small-only) {
        margin-bottom: 0;
        border: red solid 1px;
        > a {
        }
      }
    }
    @include breakpoint($medium-only) {
      padding-top: 2rem;
    }
    @include breakpoint($small-only) {
      padding-top: 0;
      padding-bottom: 1rem;
    }
  }
  &__partners {
    // text-align: center;
    text-align: left;
    margin: 0 auto;
    max-width: 14rem;
    // @include breakpoint($large) {
    //   width: 45%;
    //   margin-bottom: 3rem;
    // }
    @include breakpoint($medium-only) {
      // width: 50%;
      // padding-top: 2rem;
      // margin-bottom: 2rem;
      text-align: center;
    }
    @include breakpoint($small-only) {
      text-align: center;
      max-width: 14rem;
      margin-bottom: 2rem;
    }
    a {
      img {
        margin-bottom: 1rem;
        opacity: 0.85;
        border: dashed;
        border-color: transparent;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.copyright {
  background-color: $gray;
  .large-1 {
    @include breakpoint($large) {
      text-align: left;
      padding-right: 0;
      margin-left: 1.8rem;
    }
  }
  img {
    width: 6.5rem;
  }
  p {
    font-size: 0.8rem;
    @include breakpoint($medium-only) {
      margin-bottom: 0;
    }
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#overlay {
  z-index: 2;
}

.js-body-modal-active {
  overflow: visible;
}

.cookies-popup {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 1rem 1.5rem;
  position: fixed;
  bottom: -100px;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;

  .large-8 {
    padding-right: 0;
  }

  .large-4 {
    padding-left: 0;
  }

  .links-container {
    margin-top: 0.5rem;
    text-align: right;
    @include breakpoint($medium-only) {
      text-align: center;
    }
    @include breakpoint($small-only) {
      text-align: center;
    }
    .button {
      background-color: none;
      border: white 2px solid;
      font-size: 0.8rem;
      font-weight: 500;
      padding: 0.5rem 1rem;
      &:hover {
        @extend .u-transition;
        color: black;
        background-color: white;
      }
    }
    .more-info {
      font-size: 0.8rem;
      font-weight: 500;
      padding-left: 0.5rem;
    }
  }
}

.hidden {
  display: none !important;
}
