#directory {
  .page-section {
    color: $gray;
    h2 {
      font-size: 1.8rem;
      font-weight: 800;
      padding-left: 4rem;
      width: 100%;
      @include breakpoint($small-only) {
        font-size: 1.5rem;
        padding-left: 0;
        text-align: center;
      }
    }
    &--categories {
      .category {
        border: solid $gray 2px;
        margin: 2rem;
      }
    }
    form {
      padding-left: 3rem;
      padding-right: 3rem;
      margin-bottom: 5rem;
      input {
        // background-color:
        border-bottom: black solid 1px;
      }
    }
  }
}
