#directory {
  .page-section {
    color: $gray;
    h2 {
      font-size: 1.8rem;
      font-weight: 800;
      padding-left: 4rem;
      text-shadow: 2px 2px $yellow;
      width: 100%;
      @include breakpoint($small-only) {
        font-size: 1.5rem;
        padding-left: 0;
        text-align: center;
      }
    }
    &--categories {
      .category {
        border: solid $gray 2px;
        margin: 2rem;
        text-decoration: none;
        position: relative;
        &:hover {
          background-color: $yellow;
          cursor: pointer;
        }
        .container {
          text-align: center;
          .container-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }
          h3 {
            font-size: 1rem;
            font-weight: 600;
            padding-bottom: 1.5rem;
            padding-top: 2rem;
          }
          svg {
            margin-top: 2rem;
          }
        }
      }
    }
    form {
      text-align: center;
      margin-bottom: 5rem;
      @include breakpoint($large) {
        padding-left: 3rem;
        padding-right: 3rem;
      }
      input {
        background-color: lighten($gray, 65);
        border-bottom: lighten($gray, 30) solid 1px;
        width: 100%;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: lighten($gray, 10);
          font-style: italic;
          font-size: 1.1rem;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: lighten($gray, 10);
          font-style: italic;
          font-size: 1.1rem;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: lighten($gray, 10);
          font-style: italic;
          font-size: 1.1rem;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: lighten($gray, 10);
          font-style: italic;
          font-size: 1.1rem;
        }
      }
      .button-container {
        margin-top: 1.5rem;
        text-align: right;
        padding-right: 1.1rem;
      }
      .button {
        background-color: $yellow;
        border-radius: 0;
        font-size: .9rem;
        font-weight: 600;
        padding: .8rem 3rem;
        &:hover {
          background-color: darken($yellow, 10);
        }
      }
    }
  }
}

.science {
  margin-left: 15px;
}
