#index {
  .page-section {
    .blocks-row {
      position: relative;
    }
    &--blocks {
      padding-top: 0;
      .column {
        padding: 0;
      }
      .link {
        color: white;
        display: block;
        font-size: 2.5rem;
        font-weight: 600;
        text-transform: uppercase;
        padding: 60px;
        padding-top: 120px;
        padding-bottom: 120px;
        h2 {
          display: inline-block;
          font-size: 2.6rem;
          font-weight: 800;
          line-height: 1.1;
          @include breakpoint($medium-only) {
            font-size: 2rem;
          }
          @include breakpoint($small-only) {
            font-size: 1.8rem;
          }
        }
        &--process {
          // background-color: $teal;
          background: linear-gradient(rgba($teal, 0.85), rgba($teal, 0.85)),
            url('../images/patent-line-transpo.png') no-repeat right;
          background-size: 90%;
          &:hover {
            // background-color: darken($teal, 10);
          }
        }
        &--certify {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 50%;
          top: 0;
          @include breakpoint($small-only) {
            position: static;
          }
          // background-color: $purple;
          background: linear-gradient(rgba($purple, 0.85), rgba($purple, 0.85)),
            url('../images/patent-line-transpo.png') no-repeat right;
          background-size: 90%;
          &:hover {
            // background-color: darken($purple, 10);
          }
        }
      }
    }
    &--projects {
      color: $gray;
      @include breakpoint($large) {
        padding-left: 50px;
        padding-right: 50px;
      }
      h3 {
        font-size: 1.8rem;
        font-weight: 800;
        padding-bottom: 10px;
        margin-top: 0;
        text-shadow: 2px 2px $yellow;
      }
      .button-container {
        padding-bottom: 4rem;
        padding-top: 2rem;
        text-align: center;
        .button {
          background-color: $gray;
          color: $yellow;
          font-weight: 600;
          padding: 10px 25px;
          &:hover {
            background-color: darken($gray, 10);
          }
          @include breakpoint($small-only) {
            font-size: .9rem;
          }
        }
      }
    }
  }
}
