#list {
  .projects {
    @include breakpoint($large) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .search-results-count {
      text-align: center;
      p {
        color: $gray;
        font-weight: 600;
        margin-top: 0;
        text-transform: uppercase;
      }
    }
    .search-results {
      text-align: center;
      p {
        color: lighten($gray, 15);
        font-style: italic;
        margin-bottom: 1.5rem;
      }
    }
    table {
      thead {
        th {
          background-color: white;
          color: $gray;
          padding-left: 1rem;
          padding-bottom: 1rem;
          i {
            margin-top: -2px;
            vertical-align: middle;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      tbody {
        tr {
          border-bottom: 1px solid lighten($gray, 40);
          &:last-child {
            border-bottom: none;
          }
          &:nth-of-type(odd) {
            background-color: lighten($gray, 65);
          }
          &:nth-of-type(even) {
            background-color: white;
          }
          td {
            color: $gray;
            font-weight: 400;
            padding: 1rem 0 1rem 1rem;
            text-transform: uppercase;
          }
        }
        .project {
          .hidden {
            display: none;
          }
        }
      }
    }
  }
}
