.menu {
  background-color: $gray;
  color: white;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 2rem 7rem 4rem 3rem;
  text-align: left;
  margin-top: 50px;
  @include breakpoint($small-only) {
    padding: 2rem 2rem 4rem 2rem;
  }

  &__title-link {
    text-decoration: none!important;
    h1 {
      font-size: .9rem;
      font-weight: 600;
      text-transform: uppercase;
      border-bottom: 3px solid lighten($gray, 15);
      padding-bottom: .2rem;
      @include breakpoint($small-only) {
        margin-top: 2rem;
      }
      &:hover {
        color: darken($gray, 20);
      }
    }
    &--disable {
      h1 {
        &:hover {
          color: white!important;
        }
      }
    }
  }

  &__icon {
    cursor: pointer;
    font-size: 2.1rem!important;
    font-weight: 700!important;
    position: absolute;
    right: 2.4rem;
    top: 2.4rem;
    @include breakpoint($medium-only) {
      right: 2rem;
      top: 1rem;
    }
    @include breakpoint($small-only) {
      font-size: 2rem!important;
      right: 1rem;
      top: 1rem;
    }
    &:hover {
      color: darken($gray, 20);
    }
    &--home {
      top: 5rem;
      @include breakpoint($medium-only) {
        right: 5rem;
        top: 1rem;
      }
      @include breakpoint($small-only) {
        font-size: 2rem!important;
        right: 4rem;
        top: 1rem;
      }
    }
  }

  &__link-container {
    border-left: 1px solid lighten($gray, 15);
    margin-top: 1rem;
    a {
      font-size: .9rem;
      font-weight: 500;
      display: block;
      padding: .2rem .2rem .2rem .9rem;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        background-color: darken($gray, 5);
      }
    }
  }
}

.active-menu {
  display: block;
}

.menu-button {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
