.menu {
  background-color: $gray;
  color: white;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 3.5rem 2rem 4rem 4rem;
  text-align: left;
  @include breakpoint($medium-only) {
    padding-top: 1.5rem;
  }
  @include breakpoint($small-only) {
    padding-top: 1.5rem;
  }

  &__title-link {
    text-decoration: none !important;
    span {
      display: inline-block;
      font-size: 0.9rem;
      font-weight: 600;
      text-transform: uppercase;
      border-bottom: 3px solid lighten($gray, 15);
      padding-bottom: 0.2rem;
      @include breakpoint($medium-only) {
        margin-top: 2rem;
      }
      @include breakpoint($small-only) {
        margin-top: 2rem;
      }
      &:hover {
        color: darken($gray, 20);
      }
    }
  }

  &__icon {
    cursor: pointer;
    font-size: 1.9rem !important;
    font-weight: 700 !important;
    position: absolute;
    left: 0.7rem;
    top: 0.7rem;
    &:hover {
      color: darken($gray, 20);
    }
    &--home {
      top: 3.6rem;
    }
  }

  &__link-container {
    border-left: 1px solid lighten($gray, 15);
    margin-top: 1rem;
    a {
      font-size: 0.9rem;
      font-weight: 500;
      display: block;
      padding: 0.2rem 0.2rem 0.2rem 0.9rem;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        background-color: darken($gray, 5);
      }
    }
  }
}

.active-menu {
  display: block;
  z-index: 2;
}

.menu-button {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
