#documentation {
  .page-section {
    .modals-wrapper {
      background-color: transparentize($blue, 0.99);
      padding-bottom: 2rem;
      width: 100%;
    }
    .modals-container {
      h3 {
        color: $gray;
        font-size: 1.2rem;
        text-transform: none;
      }
    }
    .modal-container {
      cursor: pointer;
      font-weight: 700;
      line-height: 1;
      margin: 1rem 0;
      min-height: 10rem;
      position: relative;
      text-transform: uppercase;
      &__title {
        color: $teal;
        font-size: 0.8rem;
        letter-spacing: 0;
        padding: 0;
      }
      &__tags {
        padding: 0.5rem 0;
        .tag {
          background-color: $teal;
          color: $white;
          font-size: 0.6rem;
          padding: 0.3rem;
        }
      }
      &__meta {
        .license-header {
          color: $teal;
          display: block;
          font-size: 0.6rem;
          padding: 0.3rem 0;
        }
        .license-name {
          color: $gray;
          display: block;
          font-size: 0.6rem;
        }
      }
      .learn-why {
        bottom: 0;
        font-weight: 300;
        font-style: italic;
        font-size: 0.7rem;
        position: absolute;
      }
    }
    .modal {
      background-color: $teal;
      -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
      color: $white;
      top: 10%;
      @include breakpoint($small-only) {
        left: 2.5%;
        margin: 0;
        width: 95%;
      }
      &__close {
        color: $white;
        font-weight: 700;
        margin: 1rem;
        padding: 0;
      }
      &__content {
        &::-webkit-scrollbar {
          width: 1rem;
        }
        &::-webkit-scrollbar-thumb {
          background-color: darken($teal, 10);
          outline: 1px solid darken($teal, 10);
        }
        overflow-y: auto;
        padding: 0 3rem 1rem;
        h3 {
          color: $white;
          margin: 0.5rem 0;
        }
        p {
          font-size: 0.8rem;
          font-weight: 300;
          margin-top: 0;
          text-transform: none;
        }
        .license-header,
        .license-name {
          color: $white;
          font-size: 0.7rem;
          font-weight: 700;
          margin: 1px;
          text-transform: uppercase;
        }

        .license-why {
          color: $white;
          font-size: 0.7rem;
          font-weight: 700;
          padding-top: 1rem;
          text-transform: uppercase;
        }
        .button-container {
          padding: 1rem;
          text-align: right;
        }
        .learn-more {
          font-size: 0.7rem;
          font-weight: 700;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }
}
