#basics {
  .page-section {
    &--panel {
      padding-left: 2rem;
      @include breakpoint($small-only) {
        padding-left: 0;
      }
      h2 {
        font-size: 1.6rem;
        font-weight: 700;
      }
      p {
        font-size: 0.9rem;
      }
    }
    &--panel:nth-child(even) {
      background-color: $blue;
      color: #fff;
    }
    &--panel:nth-child(odd) {
      background-color: #fff;
      color: $gray;
      h2 {
        color: $blue;
      }
      p {
        max-width: 75%;
        @include breakpoint($small-only) {
          max-width: 100%;
        }
      }
    }
    &--panel:last-child {
      margin-bottom: 3rem;
    }
  }
}

#process,
#documentation,
#software,
#hardware,
#branding {
  .certification-panel {
    h3 {
      color: $gray !important;
    }
    .logo-container {
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 2rem;
      img {
        width: 11rem;
      }
    }
  }
  .page-section {
    color: $gray;
    h2 {
      font-size: 1.9rem;
      font-weight: 700;
      color: $teal;
      @include breakpoint($small-only) {
        font-size: 1.5rem;
      }
    }
    h3 {
      font-size: 1rem;
      font-weight: 700;
      color: $teal;
    }
    p {
      font-size: 0.9rem;
    }
    &--panel {
      @include breakpoint($large) {
        padding: 2rem;
      }
      .button-container {
        text-align: center;
      }
      .button {
        padding: 0.6rem 2.2rem;
        margin: 1.2rem auto;
        &--teal {
          background-color: $teal;
          color: #fff;
          font-size: 1rem;
          font-weight: 800;
          @include breakpoint($medium-only) {
            font-size: 0.9rem;
            margin: 2rem auto;
          }
          &:hover {
            background-color: darken($teal, 10);
            color: #fff;
            @extend .u-transition;
          }
        }
      }
      .certification-elements {
        a {
          text-decoration: none;
        }
        list-style: none;
        padding: 0;
        padding-bottom: 1.5rem;
        .certification-element {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          &__title {
            text-transform: uppercase;
            display: block;
            font-weight: 800;
            font-size: 0.9rem;
          }
          &__description {
            font-size: 0.8rem;
            font-weight: 500;
            position: relative;
            top: -5px;
          }
          &__icon {
            padding-right: 1rem;
            .material-icons {
              font-size: 2rem;
              color: $teal;
            }
            img {
              height: 2rem;
              max-width: 2rem;
              padding: 0 0.1rem 0 0.1rem;
            }
          }
        }
      }
      .first-row {
        margin-bottom: 2rem;
      }
      .second-row {
        margin: 2rem auto;
      }
    }
  }
}

#branding {
  .modals-wrapper {
    margin-top: 2rem;
  }
}
#certification,
#privacy-policy {
  color: $gray;
  padding-bottom: 3rem;
  h2 {
    font-size: 1.6rem;
    font-weight: 700;
    padding-top: 1rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  p {
    font-size: 0.9rem;
  }
}
