#documentation,
#software,
#hardware,
#branding {
  .checklist {
    position: absolute;
    right: 0;
    top: 0;
    color: $teal;
    font-size: 3rem;
    cursor: pointer;
    text-decoration: none;
    .material-icons {
      font-size: 3rem;
    }
    span {
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: uppercase;
      vertical-align: top;
      position: relative;
      top: 0.9rem;
    }
  }
  .top-section {
    &--documentation {
      h1 {
        padding: 0;
        white-space: nowrap;
        &:before {
          content: 'library_books';
          @extend .u-material-icons;
          padding-right: 1rem;
        }
      }
    }
    &--software {
      h1 {
        padding: 0;
        white-space: nowrap;
        &:before {
          content: 'code';
          @extend .u-material-icons;
          padding-right: 1rem;
          font-size: 2.5rem;
          vertical-align: middle;
          font-weight: 800;
          margin-top: -5px;
        }
      }
    }
    &--hardware {
      h1 {
        padding: 0;
        white-space: nowrap;
        &:before {
          content: 'developer_board';
          @extend .u-material-icons;
          padding-right: 1rem;
          font-size: 2.5rem;
          vertical-align: middle;
          margin-top: -5px;
        }
      }
    }
    &--branding {
      h1 {
        padding: 0;
        white-space: nowrap;
        svg {
          height: 2rem;
          max-width: 3rem;
          padding-right: 1rem;
        }
      }
    }
  }
  .page-section {
    &--modals {
      padding-bottom: 0 !important;
    }
    h4 {
      font-size: 1rem;
      font-weight: 700;
    }
    padding: 2rem 0;
    &--process {
      min-height: 60vh;
    }
    ul,
    ol {
      font-size: 0.9rem;
      li {
        padding: 0.5rem;
      }
    }
    &--nav {
      margin: 0;
      padding: 0.5rem;
      background-color: $gray;
      nav {
        margin: 0;
        padding: 0;
        text-align: center;
        @include breakpoint($small-only) {
          text-align: left;
        }
        .js-active-item {
          color: #fff !important;
        }
        .internal-menu__item {
          margin: auto;
          cursor: pointer;
          @include breakpoint($medium-only) {
            padding: 0 0.5rem;
          }
          @include breakpoint($small-only) {
            display: block;
          }
          padding: 0 3rem;
          text-decoration: none;
          text-transform: uppercase !important;
          color: lighten($gray, 30);
          font-weight: 700;
          text-transform: none;
        }
      }
    }
  }
  .license-list {
    text-align: center;
    margin-bottom: 2rem;
    li {
      font-size: 1.6rem;
      font-weight: 700;
      color: $teal;
      list-style: none;
      margin-bottom: 0.6rem;
      a {
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: darken($teal, 10);
        }
      }
    }
  }
}
.internal-menu__items-wrapper {
  height: 2rem;
  display: inline-block;
}
// Dropdown
.learning-module__select-wrapper {
  height: 2.7rem;
  display: inline-block;
  @include breakpoint($small-only) {
    display: none !important;
  }
  @include breakpoint($medium-only) {
    margin-left: 0.5rem;
  }
  cursor: default;
}
.internal-menu__item--dropdown {
  padding: 0 1rem 0 3rem !important;
  @include breakpoint($medium-only) {
    padding: 0 1rem 0 0 !important;
  }
  cursor: default !important;
  @include breakpoint($small-only) {
    display: none !important;
  }
  margin: auto;
  padding: 0 3rem;
  text-decoration: none;
  text-transform: uppercase !important;
  color: lighten($gray, 30);
  font-weight: 700;
  text-transform: none;
}
#branding {
  .learning-module__select {
    @include breakpoint($medium-only) {
      min-width: 20rem;
    }
  }
}
.learning-module__select {
  color: rgba(#4d4d4d, 0.7);
  @include breakpoint($small-only) {
    display: none;
  }
  @include breakpoint($medium-only) {
    min-width: 12rem;
  }
  min-width: 20rem;
  margin-bottom: 0;
  display: inline-block;
  font-style: normal;
  text-transform: uppercase;

  background-color: rgba(#fff, 0.7) !important;
  border-bottom: 1px solid $gray;
  font-style: italic;
  position: relative;
  &:hover {
    background-color: rgba(#fff, 0.7) !important;
  }
  &:before {
    @extend .u-material-icons;
    content: 'arrow_drop_down_circle';
    color: $gray;
    position: absolute;
    right: 0;
    margin: 0 auto 0 auto;
    padding: 9px 7px;
    font-size: 1.5rem;
  }
  .learning-module__dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    &::-ms-expand {
      display: none;
    }
  }
}

// fix internal menu to top of page
.page-section--nav.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

// js behavior
.page-section--process {
  display: none;
}
.js-active-section {
  display: block;
}
