#documentation,
#software,
#hardware,
#branding {
  .checklist {
    position: absolute;
    right: 0;
    top: 0;
    color: $teal;
    font-size: 3rem;
    cursor: pointer;
    .material-icons {
      font-size: 3rem;
    }
  }
  .top-section {
    &--documentation {
      h1 {
        padding: 0;
        white-space: nowrap;
        &:before {
          content: 'library_books';
          @extend .u-material-icons;
          padding-right: 1rem;
        }
      }
    }
    &--software {
      h1 {
        padding: 0;
        white-space: nowrap;
        &:before {
          content: 'code';
          @extend .u-material-icons;
          padding-right: 1rem;
          font-size: 2.5rem;
          vertical-align: middle;
          font-weight: 800;
          margin-top: -5px;
        }
      }
    }
    &--hardware {
      h1 {
        padding: 0;
        white-space: nowrap;
        &:before {
          content: 'developer_board';
          @extend .u-material-icons;
          padding-right: 1rem;
          font-size: 2.5rem;
          vertical-align: middle;
          margin-top: -5px;
        }
      }
    }
    &--branding {
      h1 {
        padding: 0;
        white-space: nowrap;
        svg {
          height: 2rem;
          padding-right: 1rem;
        }
      }
    }
  }
  .page-section {
    &--modals {
      padding-bottom: 0 !important;
    }
    h4 {
      font-size: 1rem;
      font-weight: 700;
    }
    padding: 2rem 0;
    &--process {
      min-height: 60vh;
    }
    ul,
    ol {
      font-size: 0.9rem;
      li {
        padding: 0.5rem;
      }
    }
    &--nav {
      margin: 0;
      padding: 0.5rem;
      background-color: $gray;

      nav {
        margin: 0;
        padding: 0;
        cursor: pointer;
        text-align: center;
        @include breakpoint($small-only) {
          text-align: left;
        }
        .js-active-item {
          color: #fff !important;
        }
        .internal-menu__item {
          @include breakpoint($medium-only) {
            padding: 0 1rem;
          }
          @include breakpoint($small-only) {
            display: block;
          }
          padding: 0 3rem;
          text-decoration: none;
          text-transform: uppercase !important;
          color: lighten($gray, 30);
          font-weight: 700;
          text-transform: none;
        }
      }
    }
  }
  .spectrum-container {
    .spectrum-image {
      text-align: center;
      img {
        max-width: 65%;
      }
    }
    text-left: center;
    padding: 2rem 0;
  }
  .license-list {
    text-align: center;
    margin-bottom: 2rem;
    li {
      font-size: 1.6rem;
      font-weight: 700;
      color: $teal;
      list-style: none;
      margin-bottom: .6rem;
      a {
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: darken($teal, 10);
        }
      }
    }
  }
}

// js behavior
.page-section--process {
  display: none;
}
.js-active-section {
  display: block;
}
