#documentation {
  .checklist {
    position: absolute;
    right: 0;
    top: 0;
    color: $teal;
    font-size: 3rem;

    cursor: pointer;

    .material-icons {
      font-size: 3rem;
    }
  }
  .top-section {
    h1 {
      padding: 0;
      white-space: nowrap;
      &:before {
        content: 'library_books';
        @extend .u-material-icons;
        padding-right: 1rem;
      }
    }
  }
  .page-section {
    &--modals {
      padding-bottom: 0 !important;
    }
    h4 {
      font-size: 1rem;
      font-weight: 700;
    }
    padding: 2rem 0;
    &--process {
      min-height: 60vh;
    }
    ul {
      list-style: none;
      font-size: 0.9rem;
      li {
        padding-bottom: 1rem;
      }
    }
    &--nav {
      margin: 0;
      padding: 0.5rem;
      background-color: $gray;

      nav {
        margin: 0;
        padding: 0;
        cursor: pointer;
        text-align: center;
        @include breakpoint($small-only) {
          text-align: left;
        }
        .js-active-item {
          color: #fff !important;
        }
        .internal-menu__item {
          @include breakpoint($medium-only) {
            padding: 0 1rem;
          }
          @include breakpoint($small-only) {
            display: block;
          }
          padding: 0 3rem;
          text-decoration: none;
          text-transform: uppercase !important;
          color: lighten($gray, 30);
          font-weight: 700;
          text-transform: none;
        }
      }
    }
  }
  .spectrum-image {
    text-align: center;
    padding: 2rem 0;
  }
  .license-list {
    text-align: center;
    li {
      font-size: 1.6rem;
      font-weight: 700;
      color: $teal;
      a {
        text-decoration: none;
      }
    }
  }
}

// js behavior
.page-section--process {
  display: none;
}
.js-active-section {
  display: block;
}
