.top-bar {
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 3;

  &__button {
    &--right {
      background-color: $yellow;
      color: $gray;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      &:hover {
        background-color: darken($yellow, 10);
      }
      @include breakpoint($large) {
        display: none;
      }
    }
    &--basics,
    &--privacy-policy,
    &--faq {
      color: $blue;
      background-color: #fff;
    }
    &--process {
      background-color: $teal;
    }
    &--exemplar {
      background-color: $teal;
      color: $gray;
      &:hover {
        background-color: darken($teal, 10);
      }
    }
    &--index {
      background-color: $gray;
      &:hover {
        background-color: darken($gray, 10);
      }
    }
    &--directory,
    &--profile,
    &--list {
      background-color: $yellow;
      color: $gray;
      &:hover {
        background-color: darken($yellow, 10);
      }
    }
  }
}

.active-menu-button {
  background-color: $gray!important;
  color: white!important;
}
