.top-bar {
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 3;

  &__button {
    &--basics,
    &--faq {
      color: $blue;
      background-color: #fff;
    }
    &--process {
      background-color: $teal;
    }
    &--index {
      background-color: $gray;
      &:hover {
        background-color: darken($gray, 10);
      }
    }
    &--directory,
    &--list {
      background-color: $yellow;
      color: $gray;
      &:hover {
        background-color: darken($yellow, 10);
      }
    }
  }
}
