.top-section {
  h1 {
    font-size: 2rem;
    @include breakpoint($small-only) {
      font-size: 1.5rem !important;
    }
  }
  margin-top: -50px;
  position: relative;
  .img-overlay {
    background-color: transparentize(white, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .intro {
    z-index: 2;
  }
  &--index,
  &--basics,
  &--faq,
  &--process,
  &--documentation,
  &--directory {
    background-color: white;
    background-image: url('../images/patent-line-transpo.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
    @include breakpoint($medium-only) {
      background-size: 70%;
    }
    @include breakpoint($small-only) {
      background-image: none;
    }
    color: $gray;
    font-size: 0.9rem;
    font-weight: 500;
    padding-bottom: 70px;
    text-align: left;
    img {
      margin-top: 50px;
      padding-left: 15px;
      padding-right: 15px;
      z-index: 100;
    }
    p {
      padding-left: 10px;
    }
    a {
      color: $blue;
      font-size: 1.1rem;
      font-weight: 600;
      padding-left: 10px;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        color: darken($blue, 10);
      }
    }
  }
  &--basics {
    padding: 8rem 0 4rem 0;
    background-color: #fff;
    color: $gray;
    text-align: left;
    h1 {
      padding-left: 10px;
      color: $blue;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2rem;
    }
    .button {
      margin-left: 10px;
      &--blue {
        background-color: $blue;
        color: #fff;
        padding: .8rem 2rem;
        font-size: 1rem;
        @include breakpoint($medium-only) {
          font-size: 0.9rem;
        }
        &:hover {
          background-color: darken($blue, 10);
          color: #fff;
          @extend .u-transition;
        }
      }
    }
  }
  &--faq {
    padding: 8rem 0;
    background-color: #fff;
    color: $gray;
    text-align: left;
    h1 {
      padding-left: 10px;
      color: $blue;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2rem;
    }
  }
  &--process,
  &--documentation {
    .img-overlay {
      background-color: $teal;
      position: initial;
    }
    background: linear-gradient(rgba($teal, 0.85), rgba($teal, 0.85)),
      url('../images/patent-line-transpo.png') no-repeat right;

    background-size: 50%;
    @include breakpoint($medium-only) {
      background-size: 70%;
    }
    @include breakpoint($small-only) {
      background-image: none;
    }
    padding: 8rem 0 4rem 0;
    background-color: $teal;
    color: #fff;
    text-align: left;
    h1 {
      padding-left: 10px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2rem;
    }
  }

  &--directory {
    background: linear-gradient(rgba($yellow, 0.85), rgba($yellow, 0.85)),
      url('../images/patent-line-transpo.png') no-repeat right;
    background-size: 50%;
    h1 {
      font-size: 2.6rem;
      font-weight: 800;
      margin-top: 4rem;
      text-transform: uppercase;
      @include breakpoint($medium-only) {
        font-size: 2.2rem;
      }
      @include breakpoint($small-only) {
        font-size: 2rem;
      }
    }
    .button {
      color: $yellow;
      background-color: $gray;
      margin-top: 1.2rem;
      margin-bottom: 2rem;
      padding: 10px 55px;
      &:hover {
        color: $yellow;
        background-color: darken($gray, 10);
      }
      @include breakpoint($medium-only) {
        font-size: .9rem;
        padding: 10px 45px;
      }
      @include breakpoint($small-only) {
        font-size: 1rem;
      }
    }
  }
  &--list {
    background-color: $yellow;
    color: $gray;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 1rem;
    @include breakpoint($small-only) {
      padding-left: 0;
      padding-right: 0;
    }
    h1 {
      font-size: 1.6rem;
      font-weight: 800;
      text-align: left;
      text-transform: uppercase;
      padding-top: 1rem;
      padding-bottom: 1rem;
      @include breakpoint($medium-only) {
        font-size: 1.5rem;
      }
      @include breakpoint($small-only) {
        font-size: 1.3rem;
      }
    }

    form {
      text-align: center;
      margin-bottom: 1rem;
      input {
        border-bottom: $gray solid 1px;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: lighten($gray, 10);
          font-style: italic;
          font-size: 1.1rem;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: lighten($gray, 10);
          font-style: italic;
          font-size: 1.1rem;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: lighten($gray, 10);
          font-style: italic;
          font-size: 1.1rem;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: lighten($gray, 10);
          font-style: italic;
          font-size: 1.1rem;
        }
      }
    }

    .search input[type='text'] {
      background-color: transparentize(white, .8);
    }

    .search--fixed {
      z-index: 1;
    }

    .checkbox-container {
      margin: 1rem auto 2rem auto;
    }

    h2 {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0;
    }
    span {
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
    }
    .dropdown-title {
      font-size: .8rem;
      font-weight: 800;
    }
    .filter-container {
      display: none;
      padding-top: 1.5rem;
      z-index: 1;
    }
    .expand {
      display: inline;
      width: 100%;
    }
    .open-filters {
      cursor: pointer;
    }
    .select {
      background-color: transparentize(white, .8);
      margin: 1rem 5.2rem 4rem 5.2rem;
      border-bottom: 1px solid $gray;
      font-style: italic;
      &:before {
        @extend .u-material-icons;
        content: 'arrow_drop_down_circle';
        color: $gray;
        position: absolute;
        right: 0;
        margin: 0 auto 0 auto;
        padding: 9px 7px;
        font-size: 1.5rem;
      }
    }
  }

}
