.top-section {
  h1 {
    font-size: 2rem;
    @include breakpoint($small-only) {
      font-size: 1.5rem !important;
    }
  }
  margin-top: -50px;
  position: relative;
  .img-overlay {
    background-color: transparentize(white, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .intro {
    z-index: 2;
  }
  &--index,
  &--basics,
  &--faq,
  &--privacy-policy,
  &--process,
  &--documentation,
  &--software,
  &--hardware,
  &--branding,
  &--directory {
    background-color: white;
    background-image: url('../images/patent-line-transpo.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
    @include breakpoint($medium-only) {
      background-size: 70%;
    }
    @include breakpoint($small-only) {
      background-image: none;
    }
    color: $gray;
    font-size: 0.9rem;
    font-weight: 500;
    padding-bottom: 70px;
    text-align: left;
    img {
      margin-top: 50px;
      padding-left: 15px;
      padding-right: 15px;
      z-index: 100;
    }
    p {
      padding-left: 10px;
    }
    a {
      color: $blue;
      font-size: 1.1rem;
      font-weight: 600;
      padding-left: 10px;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        color: darken($blue, 10);
      }
    }
  }
  &--basics {
    padding: 8rem 0 4rem 0;
    background-color: #fff;
    color: $gray;
    text-align: left;
    h1 {
      padding-left: 10px;
      color: $blue;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2rem;
    }
    .button {
      margin-left: 10px;
      &--blue {
        background-color: $blue;
        color: #fff;
        padding: .8rem 2rem;
        font-size: 1rem;
        @include breakpoint($medium-only) {
          font-size: 0.9rem;
        }
        &:hover {
          background-color: darken($blue, 10);
          color: #fff;
          @extend .u-transition;
        }
      }
    }
  }
  &--faq,
  &--privacy-policy {
    padding: 8rem 0;
    background-color: #fff;
    color: $gray;
    text-align: left;
    h1 {
      padding-left: 10px;
      color: $blue;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2rem;
    }
  }

  &--process,
  &--documentation,
  &--software,
  &--hardware,
  &--branding {
    .img-overlay {
      background-color: $teal;
      position: initial;
    }
    background: linear-gradient(rgba($teal, 0.85), rgba($teal, 0.85)),
      url('../images/patent-line-transpo.png') no-repeat right;
    background-size: 50%;
    @include breakpoint($medium-only) {
      background-size: 70%;
    }
    @include breakpoint($small-only) {
      background-image: none;
    }
    padding: 8rem 0 4rem 0;
    background-color: $teal;
    color: #fff;
    text-align: left;
    h1 {
      padding-left: 10px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2.2rem;
      @include breakpoint($small-only) {
        font-size: 2rem!important;
      }
    }
  }

  &--directory {
    background: linear-gradient(rgba($yellow, 0.85), rgba($yellow, 0.85)),
      url('../images/patent-line-transpo.png') no-repeat right;
    background-size: 50%;
    h1 {
      font-size: 2.6rem;
      font-weight: 800;
      margin-top: 4rem;
      text-transform: uppercase;
      @include breakpoint($medium-only) {
        font-size: 2.2rem;
      }
      @include breakpoint($small-only) {
        font-size: 2rem;
      }
    }
    .button {
      color: $yellow;
      background-color: $gray;
      margin-top: 1.2rem;
      margin-bottom: 2rem;
      padding: 10px 55px;
      &:hover {
        color: $yellow;
        background-color: darken($gray, 10);
      }
      @include breakpoint($medium-only) {
        font-size: .9rem;
        padding: 10px 45px;
      }
      @include breakpoint($small-only) {
        font-size: 1rem;
        width: 100%;
      }
    }
  }
  &--documentation,
  &--software,
  &--hardware,
  &--branding {
    h1 {
      margin-bottom: 1.2rem;
    }
  }
}
