* {
  box-sizing: border-box;
}

// Breakpoints
$small-only: screen and (max-width: 39.9375em);
$touch: screen and (max-width: 64em);
$medium: screen and (min-width: 40em);
$medium-only: screen and (min-width: 40em) and (max-width: 63.9375em);
$large: screen and (min-width: 64em);

// Colors
$teal: #55bfab;
$blue: #1aace2;
$purple: #9255bf;
$yellow: #ffeb80;
$gray: #4d4d4d;

@import 'breakpoint';
@import 'mixins';
@import 'base';
@import 'top-bar';
@import 'top-section';
@import 'index';
@import 'page-section';
@import 'accordion';
