<div class="slide-panel__checklist">
  <h4>checklist</h4>
  <ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate eaque consequatur et similique aut adipisci nemo blanditiis ratione repellat at?</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, tempore.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nisi ducimus doloribus, dolores eligendi libero similique nobis error harum nesciunt.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id neque nobis voluptatum pariatur, quasi temporibus.</li>
  </ul>
</div>