{% assign example = include.example %}
{% assign license_type = include.license_type %}
<div class="modal js-target-modal">
  <div class="modal__header modal--top-section">
    <i class=
    "modal__close material-icons js-close-modal">close</i>
  </div>
  <div class="modal__content">
    <h3>{{ example.project_owner }} {{ example.project_name }}</h3>
    {% case license_type %}
    {% when "documentation" %}
      <p class="license-header">Documentation License:</p>
      <p class="license-name">{{ example.documentation_license.license_name }}</p>
      <p class="license-why">Why this license?</p>
      <p>{{ example.documentation_license_explanation | markdownify }}</p>
    {% when "hardware" %}
      <p class="license-header">Hardware License:</p>
      <p class="license-name">{{ example.hardware_license.license_name }}</p>
      <p class="license-why">Why this license?</p>
      <p>{{ example.hardware_license_explanation | markdownify }}</p>
    {% when "software" %}
      <p class="license-header">Software License:</p>
        {% if example.software_license.license_name %}
          <p class="license-name">{{ example.software_license.license_name }}</p>
        {% else %}
          <p class="license-name">No Software</p>
        {% endif %}
      <p class="license-why">Why this license?</p>
      <p>{{ example.software_license_explanation | markdownify }}</p>
    {% when "branding" %}
      <p class="license-header">Branding Information:</p>
      <p>{{ example.branding_information | markdownify }}</p>
    {% endcase %}

    <div class="button-container">
      <a href="{{ example.project_uid | slugify | prepend: '/exemplar/'| append: '.html' | relative_url }}" target="_blank" class="learn-more">Learn more about this project's licensing</a>
    </div>
  </div>
</div>
