<footer class='footer'>
  <div class="row expanded">
    <div class="column large-4 small-12 medium-12">
      <nav class="footer__nav">
        <a href="https://oshwa-certify.herokuapp.com/apply">Certify a Project</a>
        <a href="{{'/process.html' | relative_url}}">The Certification Process</a>
        <a href="{{'/list.html' | relative_url}}">Certified Projects</a>
        <a href="{{'/basics.html' | relative_url}}">Basics</a>
        <a href="{{'/basics/faq.html' | relative_url}}">Frequently Asked Questions</a>
        <a href="{{'/about.html' | relative_url}}">About</a>
        <a href="https://www.oshwa.org/">OSHWA</a>
        <a href="{{'/privacy-policy.html' | relative_url}}">Privacy Policy</a>
      </nav>
    </div>
    <div class="column large-4 small-12 medium-12">
      <div class="footer__logo">
        <a target="_blank" href="https://www.oshwa.org/"><img class="footer__oshwa-logo" src="{{'/images/oshwa-white.png' | relative_url}}" alt="Open Source Hardware Certification Logo"></a>
      </div>
    </div>
    <div class="column large-4 small-12 medium-12">
      <div class="footer__partners">
        <p>With support from</p>

        <a target="_blank" href="https://sloan.org/"><img src="{{'/images/sloan-white.png' | relative_url}}" alt="Alfred P. Sloan Foundation Logo"></a>
        <a target="_blank" href="http://www.law.nyu.edu/academics/clinics/semester/technologylawandpolicy"><img src="{{'/images/tlpc-white.png' | relative_url}}" alt="Technology Law and Policy Clinic Logo"></a>
        <a target="_blank" href="https://objectively.is/"><img src="{{'/images/objectively-white.png' | relative_url}}" alt="objectively Logo"></a>
      </div>
    </div>
  </div>
</footer>
