<div class="row">
  <div class="column large-12">
    <div class="spectrum-container">
      <div class="row expanded">
        <div class="column">
          <p class="label">Less<br>Protectable</p>
        </div>
        <div class="column" style="text-align: right">
          <p class="label">More<br>Protectable</p>
        </div>
      </div>
      <div id="spectrum-line">
        <div class="line">
          {% for schematic in module.spectrum_items %}
            <div class="circle" id="circle{{ schematic.position }}" circle-attr="{{ schematic.position }}"></div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% for schematic in module.spectrum_items %}
      <div class="schematic-description" position-attr="{{ schematic.position }}">
        <h4>{{schematic.title}}</h4>
        <div class="spectrum-image">
          <img src="{{schematic.image.url}}" alt="{{schematic.image.title}}"/>
        </div>
        {{schematic.description | markdownify }}
      </div>
    {% endfor %}
  </div>
</div>
