<header class="top-bar top-bar--{{include.page_template}}">
  <span class="top-bar__button top-bar__button--{{include.page_template}} js-trigger-menu">menu</span>
  <nav class="main-menu js-target-menu main-menu--left">
    <a href="{{'/'.html' | relative_url}}">Home</a>
    <a href="{{'/process.html' | relative_url}}">Process</a>
    <a href="{{'/directory.html' | relative_url}}">Directory</a>
    <a href="{{'/list.html' | relative_url}}">List</a>
  </nav>

  {%if page.filter_nav %}
    <span class="top-bar--float__button top-bar__button--right top-bar__button toggle-filters js-trigger-menu">tune</span>
  {% endif %}
</header>
