---
layout: default
title: Branding
description:
seo_image_path: #'/images/media/filename.jpg'
page_template: branding
permalink: /process/branding.html
---

{% assign content = site.data.contentful.brandingModule.brandingModule %}
{% assign module = content[0] %}

<main role="main" id="{{page.page_template}}">
  <section class="top-section top-section--{{page.page_template}}">
    <div class="img-overlay"></div>
    <div class="row">
      <div class="column large-5 medium-5 small-12 intro">
        <h1><svg class="branding-icon" viewBox="0 0 36.93 44.5" xmlns="http://www.w3.org/2000/svg"><g fill="white"><path d="m2.42 24.74h14.03v19.76h-14.03z"/><path d="m20.44 24.74h14.03v19.76h-14.03z"/><path d="m0 13.18h16.49v9.32h-16.49z"/><path d="m20.44 13.18h16.49v9.32h-16.49z"/><path d="m25.19 11.7 6.49-5.16-5.69-.09-.09-5.69-7.44 9.32-7.97-10.08-.09 5.51-5.52.09 7.71 6.1z"/></g></svg>{{module.module_title}}</h1>
      </div>
    </div>
  </section>

  <section class="page-section--nav">
    <nav class="internal-menu">
      <a class="internal-menu__item js-active-item" data-order="1" data-target="#about">About</a>
      <a class="internal-menu__item" data-order="2" data-target="#spectrum" >Spectrum</a>
      <a class="internal-menu__item" data-order="3" data-target="#product-design">Product Design</a>
      <a class="internal-menu__item" data-order="4" data-target="#registration" >Registration</a>
    </nav>
  </section>

  <section class="page-section page-section--process js-active-section slide-panel__wrapper--compact" data-nav-order="1" id="about">
    <div class="row">
      {% include checklist-button.html content=module.checklist %}
      <div class="column large-12">
        <h2>About</h2>
      </div>
    </div>
    <div class="row">
      <div class="column large-12">
        {{ module.about_description | markdownify }}
      </div>
    </div>
  </section>

  <section class="page-section page-section--process slide-panel__wrapper--compact" data-nav-order="2" id="spectrum">
    <div class="row">
      {% include checklist-button.html content=module.checklist %}
      <div class="column large-12">
        <h2>Spectrum</h2>
      </div>
    </div>

    <div class="row">
      <div class="column large-12">
     {{ module.spectrum_description | markdownify}}
      </div>
    </div>

    {% include spectrum.html %}

  </section>

  <section class="page-section page-section--process page-section--modals slide-panel__wrapper--compact" data-nav-order="3" id="product-design">
    <div class="row">
      {% include checklist-button.html content=module.checklist %}
      <div class="column large-12">
        <h2>Product Design</h2>
      </div>
    </div>
    <div class="row">
      <div class="column large-12">
        {{ module.productdesign_description | markdownify }}
        {% include slide-panel.html %}
      </div>
    </div>

    <div class="modals-wrapper">
      <div class="row">
        <div class="column small-12 large-12 modals-container">
          <h3>Branding Information Examples</h3>
        </div>
        <div class="column large-12">
          <div class="row">
          {% for example in module.examples %}
            <div class="columns large-3 medium-6 small-12 modal-container js-open-modal">
              <span class="modal-container__title">{{example.project_owner}} {{example.project_name}}</span>
              <div class="modal-container__tags">
                {% for tag in example.project_types %}
                  <span class="tag">{{tag}}</span>
                {% endfor %}
              </div>
              <span class="learn-why">Branding Information</span>
              {% include examples_modal.html example=example license_type="branding"%}
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section page-section--process slide-panel__wrapper--compact" data-nav-order="4" id="registration">
    <div class="row">
      {% include checklist-button.html content=module.checklist %}
      <div class="column large-12">
        <h2>Registration</h2>
      </div>
    </div>
    <div class="row">
      <div class="column large-12">
        {{module.registration_description | markdownify }}
      </div>
    </div>
  </section>

  <div class="divider divider--teal divider--next">
    <div class="row expanded row--certify">
      <div class="columns small-12">
        <div class="content content--left">
          <div class="arrow">
            <a id="read-next" href="{{ '/process/documentation.html' | relative_url }}"><i class="material-icons" id="arrow">chevron_left</i></a>
          </div>
          <div class="text">
            <h1>Learn About</h1>
            <a id="read-next" href="{{ '/process/documentation.html' | relative_url }}">Documentation</a>
          </div>
        </div>
      </div>
      <div class="columns small-12">
        <div class="content content--right content--right--certify">
          <div class="text">
            <h1>I'm Ready!</h1>
            <a id="read-next" href="https://oshwa-certify.herokuapp.com/apply">Certify my Project</a>
          </div>
          <div class="arrow">
            <a id="read-next" href="https://oshwa-certify.herokuapp.com/apply"><i class="material-icons" id="arrow">chevron_right</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
