---
layout: default
title: Documentation
description:
seo_image_path: #'/images/media/filename.jpg'
page_template: documentation
permalink: /process/documentation.html
---

{% assign content = site.data.contentful.learningModule.learningModule | where: 'module_title','Documentation' %}
{% assign module = content[0]%}

{%assign temp_licenses = site.data.temp.licenses%}
{%assign temp_licensing_examples = site.data.temp.licensing_examples%}

<main role="main" id="{{page.page_template}}"> <!-- main content starts here -->

  <section class="top-section top-section--{{page.page_template}}">
    <div class="img-overlay"></div>
    <div class="row">
      <div class="column large-5 medium-5 small-12 intro">
        <h1>{{module.module_title}}</h1>
      </div>
    </div>
  </section>

  <section class="page-section--nav">
    <nav class="internal-menu">
      <a class="internal-menu__item js-active-item" data-order="1" data-target="#about">About</a>
      <a class="internal-menu__item" data-order="2" data-target="#spectrum" >Spectrum</a>
      <a class="internal-menu__item" data-order="3" data-target="#licensing">Licensing</a>
      <a class="internal-menu__item" data-order="4" data-target="#commercialization" >Commercializaton</a>
    </nav>
  </section>

  <section class="page-section page-section--process js-active-section slide-panel__wrapper--compact" data-nav-order="1" id="about">
    <div class="row">
      {% include checklist-button.html content=module.checklist %}
      <div class="column large-12">
        <h2>About</h2>
      </div>
    </div>
    <div class="row">
      <div class="column large-12">
        {{ module.about_description | markdownify }}
      </div>
    </div>
  </section>

  <section class="page-section page-section--process slide-panel__wrapper--compact" data-nav-order="2" id="spectrum">
    <div class="row">
      {% include checklist-button.html content=module.checklist %}
      <div class="column large-12">
        <h2>Spectrum</h2>
      </div>
    </div>

    <div class="row">
      <div class="column large-12">
     {{ module.spectrum_description | markdownify}}
      </div>
    </div>

    {% include spectrum.html %}

  </section>

  <section class="page-section page-section--process page-section--modals slide-panel__wrapper--compact" data-nav-order="3" id="licensing">
    <div class="row">
      {% include checklist-button.html content=module.checklist %}
      <div class="column large-12">
        <h2>Licensing</h2>
      </div>
    </div>
    <div class="row">
      <div class="column large-12">
        {{ module.licensing_description | markdownify }}
        {%include slide-panel.html%}
      </div>
    </div>

    <div class="row">
      <div class="column small-12 large-12">
      <h4>Recommended Licenses for Documentation</h4>
      </div>
      <div class="column small-12 large-12">
        <ul class="license-list">

          {% for license in module.recommended_licenses %}
            <li><a class="slide-panel__open-trigger" data-term="{{license.license_name | slugify}}">{{ license.license_name }}</a></li>
          {% endfor %}
        </ul%>
        {% for license in module.recommended_licenses %}
          {% include slide-panel.html data=license type="definition"%}
        {% endfor %}
      </div>
    </div>

    <div class="modals-wrapper">
      <div class="row">
        <div class="column small-12 large-12 modals-container">
          <h3>Examples of Documentation Licensing</h3>
        </div>
        <div class="column large-12">
          <div class="row">
          {% for example in module.examples %}
            <div class="columns large-3 medium-6 small-12 modal-container js-open-modal">

              <span class="modal-container__title">{{example.project_owner}} {{example.project_name}}</span>
              <div class="modal-container__tags">
                {% for tag in example.project_types %}
                  <span class="tag">{{tag}}</span>
                {% endfor %}
              </div>
              <div class="modal-container__meta">
                <span class="license-header">License</span>
                <span class="license-name">{{example.documentation_license.license_name}}</span>
              </div>
              <span class="learn-why">Learn why</span>
              {% include examples_modal.html example=example license_type="documentation"%}
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section page-section--process slide-panel__wrapper--compact" data-nav-order="4" id="commercialization">
    <div class="row">
      {% include checklist-button.html content=module.checklist %}
      <div class="column large-12">
        <h2>Commercialization</h2>
      </div>
    </div>
    <div class="row">
      <div class="column large-12">
        {{module.commercialization_description | markdownify }}
      </div>
    </div>
  </section>

</main>
