---
layout: default
title: Frequently Asked Questions
description:
seo_image_path: #'/images/media/filename.jpg'
page_template: faq
permalink: /basics/faq.html
---

{% assign faq = site.data.contentful.faqPage.faqPage %}

<main role="main" id="{{page.page_template}}"> <!-- main content starts here -->

  <section class="top-section top-section--{{page.page_template}}">
    <div class="img-overlay"></div>
    <div class="row">
      <div class="column large-10 large-offset-1 intro">
        <h1>{{page.title}}</h1>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="row">
      <div class="column">
        <dl class="accordion">
          {% for questions in faq %}
            {% for question in questions.faq_ordered %}
            <div class="accordion__item js-open-accordion">
              <dt>
                {{ question.question | markdownify }}
              </dt>
              <dd>
                {{ question.answer | markdownify }}
              </dd>
            </div>
            {% endfor %}
          {% endfor %}
        </dl>
      </div>
    </div>
  </section>

</main>
