---
layout: default
title: Open Source Hardware Association
description:
seo_image_path: #'/images/media/filename.jpg'
page_template: list
filter_nav: true
---

{% assign projects = site.data.contentful.project.project %}

<!-- Assign countries from data -->
{% assign countries = "" | split: "" %}
{% for project in projects %}
  {% assign countries = countries | push: project.country | join: ", " %}
  {% assign countries = countries | split: ", " | uniq %}
{% endfor %}
{% assign countries = countries | sort %}

<!-- Assign software License from data -->
{% assign software_license = "" | split: "" %}
{% for project in projects %}
  {% assign software_license = software_license | push: project.software_license | join: ", " %}
  {% assign software_license = software_license | split: ", " | uniq %}
{% endfor %}
{% assign software_license = software_license | sort %}

<!-- Assign hardware License from data -->
{% assign hardware_license = "" | split: "" %}
{% for project in projects %}
  {% assign hardware_license = hardware_license | push: project.hardware_license | join: ", " %}
  {% assign hardware_license = hardware_license | split: ", " | uniq %}
{% endfor %}
{% assign hardware_license = hardware_license | sort %}

<!-- Assign types from data -->
{% assign project_types = "" | split: "" %}
{% for project in projects %}
  {% assign project_types = project_types | push: project.primary_type | join: ", " %}
  {% assign project_types = project_types | split: ", " | uniq %}
{% endfor %}
{% assign project_types = project_types | sort %}

<main role="main" id={{page.page_template}}> <!-- main content starts here -->

  <section class="page-section">
    <div class="row expanded">
      <div class="column large-3 filter-container">

        <div class="header">Search and Filters</div>
        <div class="search-form">
          <form action="" class="search search--fixed js-target-search">
            <input class="search__input fuzzy-search" id="searchfield" placeholder="" type="text">
            <input class="search-submit js-search-submit js-trigger-search search__trigger" type=
            "submit" value="search">
          </form>
        </div>

        <div class="select">
          <select class="country-dropdown" id="location" data-filter="location">
            <option id="all" selected>
              Country
            </option>
            {% for country in countries %}
              <option id="{{country | slugify}}">{{country}}</option>
            {% endfor %}
          </select>
        </div>

        <a href="#" class="button clear_filters">Clear Filters<i class="material-icons">close</i></a>

        <div class="header">Project Types</div>
        <div class="checkbox-container">
          <form class="checkbox-form">
            {% for type in project_types %}
              <div class="checkbox">
                <input class="form-type" name="type" value="{{type | slugify}}" type="checkbox" data-value="{{type | slugify}}" id="{{type}}">
                <label class="project-type" for="{{type}}">{{type}}</label>
              </div>
            {% endfor %}
          </form>
        </div>

        <div class="header">Licenses</div>
        <span class="dropdown-title">Hardware License</span>
        <div class="select">
          <select class="dropdown" id="hardware" data-filter="hardware">
            <option id="all" selected>
              Select one
            </option>
            {% for license in hardware_license %}
              <option id="{{license | slugify}}">{{license}}</option>
            {% endfor %}
          </select>
        </div>

        <span class="dropdown-title">Software License</span>
        <div class="select">
          <select class="dropdown" id="software" data-filter="software">
            <option id="all" selected>
              Select one
            </option>
            {% for license in software_license %}
              <option id="{{license | slugify}}">{{license}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="column large-9 small-12 list-column">
        <div class="projects">
          <h1>Certified Open Source Hardware Projects</h1>
          <div class="search-results-count">
            <p class="results-count"></p>
          </div>
          <div class="search-results">
            <p class="results-message"></p>
          </div>
          <table id="project_data">
            <thead>
              <tr>
                <th style="width:35%;">Project name <i data-sort="name" class="material-icons sort desc">expand_more</i></th>
                <th>UID <i data-sort="uid" class="material-icons sort desc">expand_more</i></th>
                <th>Project type <i data-sort="type" class="material-icons sort desc">expand_more</i></th>
                <th>Certification date <i data-sort="date" class="material-icons sort desc">expand_more</i></th>
              </tr>
            </thead>
            <tbody class="list">
              {% for project in projects %}
                <tr class="project">
                  <td class="name" style="width:35%;"><a href="{{ project.oshwa_uid | slugify | prepend: '/profile/' | append: '.html' | relative_url }}">{{ project.project_name }}</a></td>
                  <td class="uid">{{ project.oshwa_uid }}</td>
                  <td class="type" type="all {{ project.primary_type | slugify }} {{ project.primary_type }} {% for type in project.additional_type %} {{ type | slugify }} {{type}} {% endfor %}">{{ project.primary_type }}</td>
                  <td class="date">{% if project.certification_date %}{{project.certification_date | date: "%B %d, %Y"}}{% else %}{{ project.sys.created_at | date: "%B %d, %Y" }}{% endif %}</td>
                  <!-- Hidden fields -->
                  <!-- <td class="version">{{ project.project_version }}</td> -->
                  <td class="location hidden" location="{{ project.country | slugify }}">{{ project.country }}</td>
                  <td class="hardware hidden" hardware="all {{project.hardware_license | slugify}} {{project.hardware_license}}">{{project.hardware_license}}</td>
                  <td class="software hidden" software="all {{project.software_license | slugify}} {{project.software_license}}">{{project.software_license}}</td>
                  <td class="documentation hidden" documentation="all {{project.documentation_license | slugify}} {{project.documentation_license}}">{{project.documentation_license}}</td>
                  <td class="keywords hidden">{% for word in project.project_keywords %}{{ word }} {% endfor %}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
